<?php
// edit and save as path/to/synapp/account/{SYNAPP_CONFIG_DIRNAME}/database_host_and_credentials.php
define ('SYNAPP_DB_HOST',"localhost");
define ('SYNAPP_DB_PORT',"3306");
define ('SYNAPP_DB_NAME',"synapp_db_v1_rev2");
define ('SYNAPP_DB_USER',"root");
define ('SYNAPP_DB_PASSWORD',"");