<?php
// edit and save as path/to/synapp/account/{SYNAPP_CONFIG_DIRNAME}/facebook_credentials.php
/**
 * Don't forget to allow myappdomain.com on your facebook app settings page (You'll find a link to it on
 * http://developers.facebook.com/apps where you can also create a new app and find the app's id and secret).
 */
// login url
define ('SYNAPP_FB_LOGIN_REDIRECT_URL','https://whatever.myappdomain.com/path/to/synapp/login.phtml');
// logout url
define ('SYNAPP_FB_LOGOUT_REDIRECT_URL','https://whatever.myappdomain.com/path/to/synapp/account/logout.php');
// app id
define ('SYNAPP_FB_APP_ID','');
// app secret
define ('SYNAPP_FB_APP_SECRET','');
