<?php
/**
Microsoft Translator API credentials for translation utility (generates auto
translations of the interface the admin or user can edit for correction; not 
production ready yet) 
**/

//Client ID of the application.
define ('SYNAPP_TRANS_UTIL_CLIENTID', '');
//Client Secret key of the application.
define ('SYNAPP_TRANS_UTIL_CLIENTSECRET', '');
//Auth Url.
define ('SYNAPP_TRANS_UTIL_AUTHURL', 'https://datamarket.accesscontrol.windows.net/v2/OAuth2-13/');
//Application Scope Url
define ('SYNAPP_TRANS_UTIL_SCOPEURL', 'http://api.microsofttranslator.com');
//Application grant type
define ('SYNAPP_TRANS_UTIL_GRANTTYPE', 'client_credentials');
